body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg);
}
a {
    text-decoration: none;
}

.invalid {
    background-color: red;
}

.valid {
    background-color: green;
}
